.regiNav a{
    color: steelblue;
    text-decoration: none;
    padding: 10px 130px;
    margin-right: 20px;
    width:100%;
    margin: 10px 0;
    border:  2px solid steelblue;
    transition: 1s;
    margin-bottom: 20px;
}
.regiNav a:hover{
    color: white;
    background: steelblue;
}
.regiNav button{
    margin: 20px 0;
    background: steelblue;
    padding: 10px 160px;
}