.menu{
    height: 630px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(https://i.ibb.co/6WJdVF6/farhad-ibrahimzade-u-G5jdjo-PKus-unsplash.jpg);
}