.bgAbout{
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url(https://i.ibb.co/6WJdVF6/farhad-ibrahimzade-u-G5jdjo-PKus-unsplash.jpg);
}